@page
@model Electronics.Pages.Authentication.SignUpModel
@{
}
<section class="vh-100">
  <div class="container py-5">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form  method="post">
          <div class="form-outline mb-4">
            <label class="form-label">User Name</label>
            <input name="userName" type="text" class="form-control form-control-lg" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label">Email</label>
            <input name="email" type="email" class="form-control form-control-lg" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control form-control-lg" />
          </div>

          <div asp-validation-summary="ModelOnly"></div>

          <button type="submit" value="Sign Up" class="btn btn-primary btn-lg btn-block">Sign Up</button>

          <div>
            Already have an account <a asp-page="LogIn">Log In</a> now.
          </div>
        </form>
      </div>
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://cdn.mos.cms.futurecdn.net/uWjEogFLUTBc8mSvagdiuP.jpg"
          class="img-fluid" alt="image">
      </div>
    </div>
  </div>
</section>
