@using electronics.Models
@model List<Product>

<ul>
        @foreach(var item in Model)
    {
        <li>
           <a >
               Maker: @item.MakerName
               <br>
               Model Name: @item.SubName
               <br>
               Current Price: @item.Price JD
               <br><br>
            </a>

        </li>
    }
</ul>