@page
@model Electronics.Pages.Shopping_Cart.CompleteOrderModel
@{
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>@Model.Summary</p>
        <p>You can check the summary of orders that we sent to your Email</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>